.d3Chart {
    height: 350px;
}
.hour:hover {
    fill: white;
    cursor: pointer;
}
.hour.is-active {
    fill: rgb(87, 183, 223);
}

.d3Chart rect {
    fill: rgba(255, 255, 255, 0.75);
    shape-rendering: crispEdges;
}

.d3Chart text {
    fill: rgb(60, 60, 60);
    text-shadow: .1em .1em .5em white;
    font: 12px sans-serif;
    text-anchor: middle;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
