.statistics {
    height: 350px;
    padding: 25px;
}
@media (min-width: 768px) {
    .statistics {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: rgba(128, 128, 128, 0.44) 1px 1px 10px;
    }
}
