<div class="container-fluid">
    <div class="js-alert alert alert-danger alert-dismissible" role="alert" style="display:none">
        <button type="button" class="alert-close js-alertClose close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="alert-text js-alertText"></span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="js-location"></div>
        </div>
        <div class="col-md-7">
            <div class="js-scaleView"></div>
        </div>
    </div>
    <div class="row u-paddingBottom"></div>
    <div class="js-days"></div>
    <div class="row u-paddingBottom"></div>
    <div class="row">
        <div class="col-sm-9">
            <div class="js-chart"></div>
        </div>
        <div class="col-sm-3">
            <div class="statistics js-statistics"></div>
        </div>
    </div>
</div>
