<div class="container-fluid">
    <div class="row u-paddingBottom">
        <div class="col-md-5">
            <div class="js-menu"></div>
        </div>
        <div class="col-md-7">
            <div class="js-scaleView"></div>
        </div>
    </div>
    <div class="js-days"></div>
    <div class="row">
        <div class="col-sm-9">
            <div class="js-chart"></div>
        </div>
        <div class="col-sm-3">
            <div class="statistics js-statistics"></div>
        </div>
    </div>
</div>
