<div class="row">
    <div class="col-sm-12 statistics-header">
        {{when weekday monthname day null scale}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Conditions
    </div>
    <div class="col-sm-6">
        {{condition}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Low
    </div>
    <div class="col-sm-6">
        {{temperature low scale}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        High
    </div>
    <div class="col-sm-6">
        <span class="js-dayStatisticsHigh">{{temperature high scale}}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Snowfall
    </div>
    <div class="col-sm-6">
        {{length totalSnow scale 'cm'}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Humidity
    </div>
    <div class="col-sm-6">
        {{averageHumidity}}%
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Wind
    </div>
    <div class="col-sm-6">
        {{speed averageWindSpeed scale}} {{averageWindDirection}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Precipitation
    </div>
    <div class="col-sm-6">
        {{length precipitation scale}}
    </div>
</div>
