<div class="scale js-scale btn-group" data-toggle="buttons">
    <label class="btn btn-primary scale-button js-english {{#ifCond scale '===' 'english'}}active{{/ifCond}}">
        <input type="radio" name="js-scale-radio" autocomplete="off" {{#ifCond scale '===' 'english'}}checked=""{{/ifCond}}> English
    </label>
    <label class="btn btn-primary scale-button js-metric {{#ifCond scale '===' 'metric'}}active{{/ifCond}}">
        <input type="radio" name="js-scale-radio" autocomplete="off" {{#ifCond scale '===' 'metric'}}checked=""{{/ifCond}}> Metric
    </label>
</div>
