<div class="scale js-scale btn-group" data-toggle="buttons">
    <label class="btn btn-primary scale-button js-english {{#compare scale '===' 'english'}}active{{/compare}}">
        <input type="radio" name="js-scale-radio" autocomplete="off" {{#compare scale '===' 'english'}}checked=""{{/compare}}> English
    </label>
    <label class="btn btn-primary scale-button js-metric {{#compare scale '===' 'metric'}}active{{/compare}}">
        <input type="radio" name="js-scale-radio" autocomplete="off" {{#compare scale '===' 'metric'}}checked=""{{/compare}}> Metric
    </label>
</div>
